In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,College,US,2022-06-02 17:40:09,64.8569,-147.8028,67.08,46,75,4.61
1,1,Brae,GB,2022-06-02 17:44:07,60.3964,-1.3530,50.85,79,56,13.31
2,2,Ushuaia,AR,2022-06-02 17:41:10,-54.8000,-68.3000,37.06,65,0,3.44
3,3,Ixtapa,MX,2022-06-02 17:44:08,20.7000,-105.2000,74.43,88,100,5.75
4,4,Mahebourg,MU,2022-06-02 17:43:34,-20.4081,57.7000,73.69,83,40,8.05

In [3]:
# Check that the data types used for mapping are integers or floats
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Torrevieja,ES,2022-06-02 17:44:09,37.9787,-0.6822,84.60,76,89,1.99
9,9,Itarema,BR,2022-06-02 17:44:10,-2.9248,-39.9167,81.41,80,91,9.66
13,13,Gushikawa,JP,2022-06-02 17:44:12,26.3544,127.8686,76.23,100,40,9.22
17,17,Lorengau,PG,2022-06-02 17:44:14,-2.0226,147.2712,81.50,76,18,8.46
23,23,Bafoulabe,ML,2022-06-02 17:44:17,13.8065,-10.8321,89.92,43,38,11.54
27,27,Olinda,BR,2022-06-02 17:44:19,-8.0089,-34.8553,83.93,74,40,13.80
30,30,Isangel,VU,2022-06-02 17:39:16,-19.5500,169.2667,76.59,86,89,10.87
31,31,Mogadishu,SO,2022-06-02 17:42:25,2.0371,45.3438,79.14,79,100,17.49
32,32,Amarante Do Maranhao,BR,2022-06-02 17:44:21,-5.5667,-46.7422,86.22,54,56,5.30
34,34,Cayenne,GF,2022-06-02 17:44:22,4.9333,-52.3333,86.04,66,0,3.44

In [29]:
# Check for null values
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64